.video-container {
    margin-top: 1rem;
    padding-inline: 2rem;

    .video-heading {
      font-size: 1.5rem;
      font-weight: bold;
      color: var(--highlight-color);
      margin-bottom: 1rem;
    }
    
    .video-row {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
      padding-block: 1rem;

      .video-item {
        position: relative;
        flex: 0 0 auto;
        margin-right: 1rem;
        text-align: center;
        width: 300px;
        color: var(--text-color);

        .video-thumbnail {
          border-radius: 8px;
          width: 300px;
          height: 175px;
          object-fit: cover;
          cursor: pointer;
        }
        
        .play-button {
          position: absolute;
          top: 31%;
          left: 47%;
          transform: translate(-50%, -50%);
          font-size: 3rem;
          color: white;
          opacity: 0.8;
          cursor: pointer;
          transition: opacity 0.3s ease-in-out;

          &:hover {
            opacity: 1;
          }
        }
        
        .video-title {
          margin-top: 0.5rem;
          font-size: 1rem;
          font-weight: 500;
        }
      }
    }
}
      

@media screen and (max-width: 768px) {
    .video-container{
        padding-inline: 0.25rem;

        .video-thumbnail{
            width: 275px !important;
            height: 150px !important;
        }
    }
}