.cast-container {
    margin-top: 1rem;
    padding-inline: 2rem;

    .cast-heading {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 1rem;
        color: var(--highlight-color);
    }

    .cast-row {
        display: flex;
        overflow-x: scroll;
        padding-block: 1rem;

        .cast-item {
            flex: 0 0 200px;
            margin-right: 1rem;
            color: var(--text-color);

            .cast-image {
                text-align: center;

                .cast-photo {
                    width: 125px;
                    height: 125px;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }

            .cast-details {
                text-align: center;

                .cast-name {
                    font-size: 1.1rem;
                    font-weight: bold;
                    margin-top: 0.5rem;
                    margin-bottom: 0.3rem;
                }

                .cast-character {
                    font-size: 0.9rem;
                    color: #777;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .cast-container{
        padding-inline: 0.25rem;
        
        .cast-photo{
            width: 100px;
            height: 100px;
        }
    }   

}