.navbar{
    width: 100vw;
    background: linear-gradient(15deg, midnightblue 60%, black);
    color: var(--text-color);

    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 1rem;

        .logo {
            color: orange;
        }
        .navbar-toggler,
        .search-btn button{
            background-color: var(--text-color);
            color: var(--first-color);
        }
        .search-btn{
            margin-left: 5%;
        }
        @media screen and (max-width: 992px) {
            .search-btn{
                margin-top: 2%;
                margin-left: 2%;
            }
        }
        .nav-link{
            color: var(--text-color);
            font-size: 1.25rem;
        
            &:hover{
                color: var(--highlight-color);
            }
        }
    }
}
